:root {
	--sans-font: -apple-system,BlinkMacSystemFont,
		"Avenir Next",
		Avenir,
		"Nimbus Sans L",
		Roboto,
		"Noto Sans",
		"Segoe UI",
		Arial,Helvetica,
		"Helvetica Neue",
		sans-serif;
	--bg: white;
	--text: #1f1f28;
  --text-muted: #727169;
	--accent: #7e9cd8;
  --gray-bg: #e7e7e7;
  --special: #47656f;
}

body {
	column-gap: 1rem;
}

nav.base-nav {
	display: flex;
  flex-wrap: wrap;
  column-gap: 1em;
  row-gap: 0.5em;
	margin-top: 1rem;
  align-items: center;
}

@media only screen and (min-width: 720px) {
	section.notes {
		grid-template-columns: repeat(3, 1fr);
	}
}

nav.base-nav > a,a:visited {
	position: relative;
	text-decoration: none;
}

nav.base-nav > a.active-link:after {
	content: '';
	position: absolute;
	bottom: 0px;
	border: 1px solid var(--accent);
	width: 100%;
	left: 0;
}

tr, tr:nth-child(2n), th {
  background-color: transparent;
}

nav.base-nav > img {
  width: 3rem;
  margin-right: -0.5rem;
}

section {
  border: none;
  padding: 0;
}
