header.blog-header {
  margin-bottom: 3rem;
}

h1.blog-header-title {
  margin: 0;
}

p.blog-header-date {
  color: var(--text-muted);
}

main a {
  text-decoration: none;
}

main a:hover {
  text-decoration: underline;
}
