main {
  min-height: 100vh;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

main > header {
  display: flex;
  align-items: center;
  gap: 1em;
}

main > header > span {
  --icon: 96px;
  width: var(--icon);
  height: var(--icon);
  border-radius: 100%;
  background-color: var(--special);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 80px;
  color: var(--gray-bg);
}

main > header > h1 {
  font-weight: normal;
}

main > nav {
  display: flex;
  gap: 1em;
  font-size: 1.1em;
  flex-wrap: wrap;
  max-width: 100%;
  justify-content: center;
}

main > nav > a {
  text-decoration: none;
}
