div.grid {
	display: grid;
	grid-template-columns: 1fr;
	column-gap: 1rem;
	row-gap: 2rem;
	margin-top: 2rem;
}

@media only screen and (min-width: 480px) {
	div.grid {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media only screen and (min-width: 720px) {
	div.grid {
		grid-template-columns: repeat(3, 1fr);
	}
}

div.grid > div > h5 {
	margin-top: 0;
	margin-bottom: 0.5rem;
}

div.grid > div > p {
	margin: 0.5rem 0;
}
