header.note-header > h1 {
  margin: 0;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
}

@media only screen and (min-width: 480px) {
  header.note-header > h1 {
		grid-template-columns: max-content 1fr;
	}
}

header.note-header > p {
  color: var(--text-muted);
}

header.note-header > h1 > img {
  height: 256px;
}

h1 {
  font-size: 1.875rem;
}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.575rem;
}

h4 {
  font-size: 1.35rem;
}

h5 {
  font-size: 1.25rem;
}
