header.note-header {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  gap: 1rem;
}

header.note-header > div > h1 {
  margin: 0;
}

header.note-header > div > p {
  margin: 0;
  color: var(--text-muted);
}

@media only screen and (min-width: 480px) {
  header.note-header {
		grid-template-columns: max-content 1fr;
	}
}

h1 {
  font-size: 1.875rem;
}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.575rem;
}

h4 {
  font-size: 1.35rem;
}

h5 {
  font-size: 1.25rem;
}
