---
layout: base.html
tags: parents
order: 1
title: Home
description: Hello world.
css: index.css
---

<section>
  <h1>GEO GLGRN.</h1>
  <p>Hello. I am a Software Engineer from the Philippines.</p>

  <p>I had my Bachelor's Degree in Information Technology back in May 2017.</p>

  <p>
    I have been working as a Software Engineer since September 2017<sup><a href="#footnote-1">[1]</a></sup>.
  </p>

  <p>
    I mostly work on Web Development: building web clients, API services, and 
    have a bit of experience in DevOps<sup><a href="#footnote-2">[2]</a></sup>.
  </p>

  <img src="/images/mint-rice.webp" alt="Mint XFCE" />
</section>

<section>
  <h3>Skills</h3>

  <p>The following are tools that I can work with or can confidently use.</p>

  <p>
    For a more detailed and comprehensive list of tools I can work with please see my <a href="/skills">skills</a> page.
  </p>

  <div class="grid">
    {% assign confidentSkills = skills | onlyConfidentSkills %}
    {% for skill in confidentSkills %}
    <div>
      <h5>{{ skill.name }}</h5>
      {% for skillItem in skill.items %}
      <p>{{ skillItem.name }}</p>
      {% endfor %}
    </div>
    {% endfor %}
  </div>
</section>

<section>
  <h3>Showcase</h3>

  <p>
    My <a href="https://leetcode.com/geeofree/" target="_blank" rel="noreferrer noopener">Leetcode</a> profile.
  </p>
</section>

<footer>
  <ol>
    <li id="footnote-1">Started working at September 2017. Total work length is non-contiguous since that date.</li>
    <li id="footnote-2">DevOps Experience: I can write automation scripts and can provide help with maintaining CI/CD pipelines.</li>
  </ol>
</footer>
