---
tags: parents
order: 3
layout: base.html
title: Projects
description: A list of things I've implemented.
css: projects.css
---

<header>
  <h1>PROJECTS</h1>
  <p>{{ description }}</p>
</header>

{% for project in projects %}
<div class="project">
  <h4>
    <a href="{{ project.links[0].url }}" target="_blank" rel="noopener noreferrer">
      {{ project.name }}
    </a>
  </h4>
  <p>{{ project.description }}</p>
  <ul class="links">
    {% for link in project.links %}
    <li>
      <a href="{{ link.url }}" target="_blank" rel="noreferrer noopener">
        <img src="/images/{{ link.icon }}" />
      </a>
    </li>
    {% endfor %}
  </ul>
</div>
{% endfor %}
