---
tags: parents
order: 3
layout: base.html
title: Projects
description: A list of things I've implemented.
css: projects.css
---

<header class="px-4 pt-4 lg:px-0">
  <h1 class="text-2xl font-bold">PROJECTS</h1>
  <p>{{ description }}</p>
</header>

<div class="grid grid-cols-1 sm:grid-cols-2 gap-4 px-4 pt-4 lg:px-0">
  {% for project in projects %}
  <section class="flex flex-col gap-2 flex-1/3 border border-gray-200 rounded p-4 bg-gray-50">
    <h4 class="text-lg font-bold">
      <a href="{{ project.links[0].url }}" target="_blank" rel="noopener noreferrer">
        {{ project.name }}
      </a>
    </h4>
    <ul class="flex flex-wrap gap-2">
      {% for link in project.links %}
      <li>
        <a href="{{ link.url }}" target="_blank" rel="noreferrer noopener">
          <img class="h-4" src="/images/{{ link.icon }}" />
        </a>
      </li>
      {% endfor %}
    </ul>
    <p>{{ project.description }}</p>
  </section>
  {% endfor %}
</div>

<h2 class="text-xl font-bold py-4">User Interfaces</h2>

<ul class="list-disc pl-4">
{%- for ui in collections.uis -%}
  <li>
    <a href="{{ ui.url }}" rel="noreferrer noopener" class="text-blue-400 visited:text-indigo-600">
      {{ ui.data.title }}
    </a>
  </li>
{%- endfor %}
</ul>
