---
layout: base.html
tags: parents
order: 2
title: Skills
description: A comprehensive and details list of tools I can work with.
css: skills.css
---

<h1>SKILLS</h1>

<p>
  I possess strong proficiency in developing web clients and API services, leveraging JavaScript technologies 
  on the application layer and RDBS on the data layer.
</p>

<p>Additionally, I hold an intermediate understanding of computer networking.</p>

<p>
  Below is a comprehensive list of technologies I am proficient in and familiar with, along with my rating system 
  that describes my level of understanding and effectiveness with each tool.
</p>

<ul class="rating-list">
  <li><span class="badge rating-4">4</span><b>Confident</b>: I have an extensive understanding about the tool.</li>
  <li><span class="badge rating-3">3</span><b>Good</b>: I have some deeper understanding of the tool.</li>
  <li><span class="badge rating-2">2</span><b>Familiar</b>: I have no deeper understanding of the tool beyond how to use it and what it's for.</li>
  <li><span class="badge rating-1">1</span><b>Used</b>: A tool that I've used and will require a review on how to use it.</li>
</ul>

<div class="grid">
  {% assign sortedSkills = skills | sortSkillsByDescRate %}
  {% for skill in sortedSkills %}
	<div>
    <h5>{{ skill.name }}</h5>
    {% for skillItem in skill.items %}
    <p>
      <span class="badge rating-{{ skillItem.rating }}">{{ skillItem.rating }}</span>{{ skillItem.name }}
    </p>
    {% endfor %}
	</div>
  {% endfor %}
</div>
