---
layout: base.html
tags: parents
order: 2
title: Skills
description: A comprehensive and details list of tools I can work with.
css: skills.css
---

<h1>SKILLS</h1>

<p>
  This page is dedicated for showcasing and providing a more detailed view of the kinds of tools 
  I can use.
</p>

<p>The ff. is a rating system that I use to gauge how much I understand and be effective with the tool.</p>

<ul class="rating-list">
  <li><span class="badge rating-4">4</span><b>Highly Confident</b>: I have an extensive understanding about the tool.</li>
  <li><span class="badge rating-3">3</span><b>Confident</b>: I have some deeper understanding of the tool.</li>
  <li><span class="badge rating-2">2</span><b>Fair</b>: I have no deeper understanding of the tool beyond how to use it and what it's for.</li>
  <li><span class="badge rating-1">1</span><b>Familiar</b>: A tool that I've used with no deeper understanding and will require a review on how to use it.</li>
</ul>

<div class="grid">
  {% assign sortedSkills = skills | sortSkillsByDescRate %}
  {% for skill in sortedSkills %}
	<div>
    <h5>{{ skill.name }}</h5>
    {% for skillItem in skill.items %}
    <p>
      <span class="badge rating-{{ skillItem.rating }}">{{ skillItem.rating }}</span>{{ skillItem.name }}
    </p>
    {% endfor %}
	</div>
  {% endfor %}
</div>
