---
layout: base.html
tags: parents
order: 2
title: WHOAMI
description: What's in a name?
css: whoami.css
---

<h1>WHOAMI</h1>

<p>Hello. I am a Software Engineer from the Philippines.</p>

<p>I had my Bachelor's Degree in Information Technology back in May 2017.</p>

<p>
  My career started back in September 2017 and I mostly work on Web 
  Development: building web clients, API services, and have a bit of 
  experience in DevOps.
</p>

<img src="https://i.imgur.com/GgI0RCq.png" alt="Mint XFCE" />

<p>
  My <a href="https://leetcode.com/geeofree/" target="_blank" rel="noreferrer noopener">Leetcode</a> profile.
</p>

<p>
	The following is a list of skills and technologies that I know and/or 
	have used:
</p>


<div class="grid">
  {% for skill in skills %}
	<div>
    <h5>{{ skill.name }}</h5>
    {% for value in skill.values %}
    <p>{{ value }}</p>
    {% endfor %}
	</div>
  {% endfor %}
</div>
