---
layout: base.html
tags: parents
order: 2
title: WHOAMI
description: What's in a name?
css: whoami.css
---

<h1>WHOAMI</h1>

<p>Hello. I am a Software Engineer from the Philippines.</p>

<p>I had my Bachelor's Degree in Information Technology back in May 2017.</p>

<p>
	My career started back in September 2017 and have honed 
	many different skills and held many different responsibilities 
	since then.
</p>

<p>Most of my skills and experience is with doing Web Development.</p>

<p>I like to tinker:</p>

<img src="https://user-images.githubusercontent.com/17492631/185425440-538a7264-9fff-4e3e-a376-666d010d4954.png" />

<p>
	The following is a list of skills and technologies that I know and/or 
	have used:
</p>


<div class="grid">
  {% for skill in skills %}
	<div>
    <h5>{{ skill.name }}</h5>
    {% for value in skill.values %}
    <p>{{ value }}</p>
    {% endfor %}
	</div>
  {% endfor %}
</div>
